<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
         <key>Creation Date</key>
         <date>{{ date }}</date>
         <key>Creator</key>
         <dict>
                <key>Device Agent</key>
                <string>Emacs</string>
                <key>Generation Date</key>
                <date>{{ date }}</date>
                <key>Host Name</key>
                <string>Emacs</string>
                <key>OS Agent</key>
                <string>{{ os }}</string>
                <key>Software Agent</key>
                <string>{{ software-agent }}</string>
        </dict>
        <key>Entry Text</key>
        <string>{{ note }}</string>
        <key>Starred</key>
        <false/>
        <key>Tags</key>
        <array>
            {{& tag-values }}
        </array>
        <key>Time Zone</key>
        <string>{{ timezone }}</string>
        <key>UUID</key>
        <string>{{ uuid }}</string>
</dict>
</plist>
